*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
}

header{
background:#003580;
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:10px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
}

.hero{
background:#0071c2;
color:white;
padding:80px;
text-align:center;
}

.hero button{
padding:12px 25px;
margin-top:20px;
background:orange;
border:none;
cursor:pointer;
}

.services{
padding:40px;
text-align:center;
}

.card{
background:white;
padding:20px;
margin:20px auto;
width:300px;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.booking{
padding:40px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
}

input,
select{
padding:12px;
margin:10px 0;
}

form button{
padding:12px;
background:#003580;
color:white;
border:none;
cursor:pointer;
}

footer{
background:#003580;
color:white;
padding:20px;
text-align:center;
margin-top:30px;
}
